<app-game-header></app-game-header>
<section class="max-w-6xl mx-auto text-center">
    <h2 class="mt-24 text-4xl">Seja bem-vindo ao meu perfil pessoal</h2>
    <p class=" py-6 text-center text-2xl">Nesta seção você será apresentado aos meus jogos preferidos e saber um pouco mais sobre eles.</p>
    <p class="py-6 text-center">Sou um entusiasta ávido de jogos, mergulhando profundamente em mundos virtuais e explorando narrativas envolventes. Meu coração bate mais forte por clássicos atemporais como Chrono Trigger e CyberPunk, onde mergulho em aventuras épicas e tramas cativantes. Além disso, também encontro diversão em partidas competitivas, como Valorant, e momentos descontraídos com jogos mobile e a tranquilidade que Stardew Valley proporciona. A paixão pelos jogos não é apenas um passatempo para mim; é uma fonte de inspiração, criatividade e diversão que enriquece minha vida de muitas maneiras.</p>
    <div>
        <h2 class="text-3xl my-16">Recomendações</h2>
        <app-game-card></app-game-card>
    </div>
</section>