<header class="flex flex-row justify-between bg-zinc-950">
    <div class="flex my-auto ml-8">
        <img src="/assets/img/cp2.png" routerLink="/" alt="Logo do site" class="h-12">
    </div>
    <nav class="py-5">
        <div class="flex my-auto gap-x-12">
            <a routerLink="/professional" class="text-lg font-mono font-semibold hover:text-zinc-200 px-20 pt-1.5" >Profissional</a>
            <a routerLink="/games" class="text-lg font-mono font-semibold hover:text-zinc-200 px-20 pt-1.5" >Pessoal</a>
        </div>
    </nav>
    <div class="my-auto mr-20">
        <a href="" class="text-lg font-mono font-semibold hover:text-zinc-200" >Sobre este projeto</a>
    </div>
</header>