<header class="flex flex-row justify-between bg-zinc-950">
    <div class="flex my-auto">
        <img src="/assets/img/logo.png" alt="" class="h-20">
    </div>
    <nav class="py-5">
        <div class="flex my-auto gap-x-12">
            <a href="" class="text-lg font-mono font-semibold hover:text-zinc-200 px-20 pt-1.5" >Profissional</a>
            <a href="" class="text-lg font-mono font-semibold hover:text-zinc-200 px-20 pt-1.5" >Pessoal</a>
        </div>
    </nav>
    <div class="my-auto mr-20">
        <a href="" class="text-lg font-mono font-semibold hover:text-zinc-200" >Sobre este projeto</a>
    </div>
</header>