<!-- <app-professional-header></app-professional-header> -->
<section class="max-w-6xl mx-auto text-center">
    <h2 class="mt-24 text-7xl">Seja bem-vindo ao meu Perfil Profissional</h2>
    <p class=" py-12 text-center text-2xl">Iniciei minha jornada na programação em fevereiro de 2022, quando ingressei na faculdade e iniciei cursos na Alura, imergindo em tecnologias essenciais como HTML, CSS e Javascript. Em setembro de 2022, direcionei meu foco para o desenvolvimento back-end, abraçando o Node.js e aprofundando meus conhecimentos em SQL e NoSQL, além de embarcar na criação de APIs Rest. Em dezembro de 2022, realizei uma transição linguística para o Java, ampliando ainda mais minha bagagem de habilidades. Atualmente, aprimoro minha experiência com o Angular, desde março de 2023. Estou empenhado em fazer uma transição de carreira da indústria para a área de desenvolvimento de software, e meu percurso até aqui reflete minha dedicação constante ao aprendizado e ao crescimento profissional.</p>
    <div class="flex flex-col justify-center">
        <div>
            <h2 class="text-6xl my-12">Skills</h2>
            <app-skills></app-skills>
        </div>
    </div>
</section>