<section class="grid grid-cols-2 my-56 mx-24">
    <div class="text-center">
        <img class="h-80 rounded-full mx-auto" src="/assets/img/profile-img.jpg" alt="Imagem perfil Cleber Pereira">
        <div class="text-center p-6 text-xl font-semibold mt-12">
            <a class="px-4 py-1 m-1 hover:text-zinc-300 border-2 border-slate-500 rounded-3xl bg-blue-950" href="https://github.com/cleberpereiradev">Github</a>
            <a class="px-4 py-1 m-1 hover:text-zinc-300 border-2 border-slate-500 rounded-3xl bg-blue-950" href="https://www.linkedin.com/in/cleber-pereira-9a5384235/">LinkedIn</a>
        </div>
    </div>
    <div class="text-justify px-6">
        <p class="text-center py-6 text-6xl">Cleber Pereira</p>
        <p class="p-6">Me chamo Cleber, e este é o meu site pessoal, um espaço que abrange tanto a minha trajetória profissional quanto a minha vida pessoal. Atualmente, estou no 4º semestre do curso de Desenvolvimento de Software na Fatec de Itapira, onde me especializo no desenvolvimento back-end com Java, embora também esteja ampliando meus horizontes com o Angular.

        Sou um grande entusiasta de jogos, especialmente apaixonado por RPGs como Chrono Trigger e CyberPunk, mas também curto desafios competitivos, como Valorant, e momentos descontraídos com jogos mobile e Stardew Valley. Fora do mundo virtual, minha paixão é estar em contato com a natureza, seja acampando, pescando ou compartilhando risadas com amigos.
        
        Este site é um reflexo da minha busca contínua por aprendizado e da minha apreciação pela vida em todas as suas formas. Agradeço por sua visita e convido você a fazer parte desta jornada. Se desejar entrar em contato ou compartilhar experiências, fique à vontade.</p>
        <p class="p-6"><strong>Curso:</strong> Desenvolvimento de Software Multiplataforma</p>
    </div>
</section>