<section class="flex flex-col">
    <div class="flex justify-center">
        <h1 class="text-7xl p-12">Projeto Meu site pessoal</h1>
    </div>
    <div class="flex flex-col justify-center mx-auto text-center">
        <p class="">
            Este projeto foi desenvolvido visando expandir meu conhecimento em desenvolvimento Web.
        </p>
        <p class="">
            Aqui você vai encontrar algumas das tecnologias que estive estudando nos últimos dias, eu usei o planejamento estratégico criado como atividade para o professor Junior como base.
        </p>
        <div class="flex flex-col max-w-7xl justify-center">
            <h3 class="text-5xl mt-16">Objetivo: Transição de carreira</h3>
            <div class="p-6">
                <ol>
                    <p class="text-3xl">Metas</p>
                    <li class="">Meta 1: Estudar sobre desenvolvimento de software, incluindo cursos, projetos pessoais, bootcamps durante 2 meses.</li>
                    <li class="">Meta 2: Estudar sobre deploy de sistemas, Cloud computing, Devops (Docker principalmente) durante 1 mês.</li>
                    <li class="">Meta 3: Aprimorar skills de algoritmos avançados com prática e leitura de livros, durante 3 meses em conjunto com a meta 1 e 2.</li>
                </ol>
            </div>
            <div class="p-6">
                <h4 class="text-3xl">Pontos fortes</h4>
                <p class="p-4">
                    <strong>Hard skills</strong>: programação back-end, bancos de dados SQL e NoSQL (MySQL, PostgreSQL, MongoDB), desenvolvimento de API's, inglês avançado.
                </p>
                <p class="p-4">
                    <strong>Soft skills</strong>: Comunicação clara e assertiva, Capacidade de resolver problemas, análise de eficiência de implementações, facilidade em trabalhar com equipes diversas, manter a calma em situações de pressão, iniciativa, liderança.
                </p>
            </div>
            <div>
                <h4 class="text-3xl">Pontos fracos</h4>
                <p class="p-4">
                    <strong>Hard skills</strong>: Algoritmos avançados, integração de sistemas back-end + front-end, DevOps (Docker, Kubernetes), Cloud computing, conhecimento em IA's.
                </p>
                <p class="p-4">
                    <strong>Soft Skills</strong>: Dificuldade em expor ponto de vista em grandes grupos, gerenciamento de tempo, procrastinação, criatividade.
                </p>
            </div>
        </div>
        <div class="flex flex-col">
            <h3 class="text-3xl">Tecnologias utilizadas</h3>
            <div class="inline-block border-2 rounded-md mx-auto p-4 m-4">
                <table class="mx-auto">
                    <thead class="text-2xl p-2">Back-end</thead>
                    <tr class="text-left">Java - versão 17</tr>
                    <tr class="text-left">Spring Boot - versão 3.1.2</tr>
                    <tr class="text-left">Mockito - Ferramenta de testes automatizados - versão 5.5.0</tr>
                    <tr class="text-left">Maven - versão 3.9.4</tr>
                </table>
            </div>
            <div class="inline-block border-2 rounded-md mx-auto p-4 m-4">
                <table>
                    <thead class="text-2xl p-2">Front-end</thead>
                    <tr class="text-left">Angular - versão 16.2.0</tr>
                    <tr class="text-left">Typescript - Superset de Javascript - versão 5.1.3</tr>
                    <tr class="text-left">TailWindCSS - Ferramenta de processamento CSS - versão 3.3.3</tr>
                    <tr class="text-left">rxjs - biblioteca para programação reativa em js - versão 7.8.0</tr>
                </table>
            </div>
            <div class="inline-block border-2 rounded-md mx-auto p-4 m-4">
                <table>
                    <thead class="text-2xl p-2">Banco de dados</thead>
                    <tr class="text-left">PostgreSQL (profile dev) - versão 3 </tr>
                    <tr class="text-left">H2 (profile de testes) - banco de dados em memória - versão 2.2.2</tr>
                </table>
            </div>
            <div class="inline-block border-2 rounded-md mx-auto p-4 m-4">
                <table>
                    <thead class="text-2xl p-2">Ferramentas</thead>
                    <tr class="text-left">IDE Intellij IDEA - Back-end - versão Ultimate 2023.2.1 </tr>
                    <tr class="text-left">IDE VsCode - Front-end - versão 1.82.2</tr>
                    <tr class="text-left">Docker - Containers - versão 4.23.0</tr>
                    <tr class="text-left">ChatGPT - IA - versão 3.5</tr>
                </table>
            </div>
        </div>
    </div>
</section>