<section class="flex p-4 my-8 bg-slate-500/20 rounded-3xl" *ngFor="let game of games">
    <div class="flex">
        <img class="h-24 my-auto rounded-lg" src="{{ game.gameImgUrl }}" alt="Seloco jao">
    </div>
    <div class="flex flex-col mx-auto text-start justify-center">
        <p class="">Nome: <a class="font-semibold hover:underline"routerLink="/games/{{ game.id }}"> {{ game.title}} </a></p>
        <p>Gênero: {{ game.gameGenre }}</p>
        <p>Avaliação: {{ game.rating }}/5.0</p>
    </div>
</section>